#lens {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#net {
    font-family: 'Luxurious Roman', cursive;
}

#vs {
    font-family: 'The Nautigal', cursive;
    color: rgb(247, 43, 43);
}

.copyright {
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
    position: fixed;
}
body{
    text-align: center;
}
.comparison{
    background-color: gray;
    border-radius: 20px;
}
#img{
    height: 400px;
    width: 400px;
}